/*背景*/
.bg-white {
  background-color: #FFFFFF;
}

.bg-black {
  background-color: #000000;
}

/*调试专线，项目结束后可删除*/
$colors: (
  info: #CCE5FF,
  done: #D4EDDA,
  danger: #F8D7DA,
  warn: #FFF3CD,
  light: #D1ECF1,
  dark: #E2E3E5
);

@each $key, $value in $colors {
  .bg-#{$key} {
    background-color: $value;
  }
}