.match-width {
	width: 100%;
}

.match-height {
	height: 100%;
}

.match-parent {
	width: 100%;
	height: 100%;
}

.match-left-space {
	width: 100%;
	height: 100%;
	flex: 1;
}

.box {
	box-sizing: border-box;
}

.outdated {
	text-decoration: line-through;
}

.circle {
	border-radius: 50%;
}

.fw-5 {
	font-weight: 500;
}

.bold {
	font-weight: bold;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fs-60 {
	font-size: 60upx !important;
}

.fs-36 {
	font-size: 36upx !important;
}

.fs-32 {
	font-size: 32upx !important;
}

.fs-28 {
	font-size: 28upx !important;
}

.fs-24 {
	font-size: 24upx !important;
}

.color-333 {
	color: #333333 !important;
}

.color-666 {
	color: #666666 !important;
}

.color-999 {
	color: #999999 !important;
}

.white {
	color: #ffffff;
}

.black {
	color: #000000;
}

.warn {
	color: #FFAF2C;
}

.bg-white {
	background-color: #FFF;
}

.uni-list-item {
	color: #666 !important;
	
	switch {
		color: #FFF;
	}
}